body {
	background-color: #fff0a3;
	font-family: 'Montserrat';
	font-weight: 400;
	text-align: center;
	margin-top: 14%;
}
h1 {
	font-family: 'Smallest Pixel-7';
	font-size: 7rem;
	color: #223974;
	text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
	letter-spacing: 0.1rem;
}

a {
	top: 2%;
	font-size: 1.5rem;
	font-weight: 700;
	color: rgb(35, 35, 35);
	text-decoration: none;
}

button {
	width: 5%;
	aspect-ratio: 3;
	font-family: 'Montserrat';
	background-color: #223974;
	margin: 5rem 2rem;
	border: none;
	color: #fff;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	border-radius: 0.25rem;
}
button:hover {
	background-color: #304e9b;
}
button:active {
	background-color: #2b4586;
}
img {
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -100px;
}
hr {
	margin-top: 3.8%;
	width: 8%;
	text-align: center;
	border: none;
	border-top: 1vh dotted #d2af00;
}
